{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="d-flex">
  <div class="d-flex flex-grow-1">
    <form method="post">
      <label for="name">Name</label>
      <input name="name" id="name" required>
      <label for="email">Email</label>
      <input name="email" id="email" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <label for="hint">Password Hint</label>
      <input name="hint" id="hint" required>
      <input type="submit" value="Register">
    </form>
  </div>


  <div class="d-flex"></div>
<div class="d-flex justify-content-end">
    {% include 'password-widget.html' %}
</div>
</div>
{% endblock %}