
{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div id="login-form-wrap">

    <form action="/auth/login" id="login-form" method="post">
        <p>
           <h2>Capstone Password Manager</h2>
           <label for="email">Email Address:</label>
            <input id="email" name="email" placeholder="Email Address" required type="email"><i
                class="validation"><span></span></i>
        </p>
        <p>
            <label for="password">Password:</label>
            <input id="password" name="password" placeholder="Password" required type="password"><i
                class="validation"><span></span></i>
        </p>
        <p>
             <td colspan="2"><button id="login" value="Login" type="submit">Login</button></td>
        </p>
        <p>Not having an account yet <a href="/auth/register">Please register</a></p>
        <p>
            {{ recaptcha }}
        </p>
         <div class="recaptcha-container">
            <div class="g-recaptcha" data-sitekey="6LclpwIlAAAAAJJGxZAVGD3a6emxmCccHn5rb_ZB"></div>
        </div>
    </form>

    <!-- Error message container -->
    {% if error_message %}
    <div class="error-message">{{ error_message }}</div>
    {% endif %}

    <div id="create-account-wrap">

    </div><!--create-account-wrap-->
</div>
{% endblock %}
</html>
