
{% extends 'base.html' %}
{% block title %}Folder{% endblock %}

{% block content %}
<h2> Password Generator</h2>

    <form action="/generate_password" method="POST">
        <table>
            <tr>
                <td><label for="options">Generate:</label></td>
                <td>
                    <select name="options" id="options">
                        <option value="Password">Password</option>
                        <option value="Username">Username</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="password_type">Password Type:</label></td>
                <td>
                    <select name="password_type" id="password_type">
                        <option value="AlphaNumeric">Alphanumeric</option>
                        <option value="Alphabetic">Alphabetic</option>
                        <option value="Numeric">Numeric</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="total_length">Total Length:</label></td>
                <td><input type="number" name="total_length" id="total_length" value="12"></td>
            </tr>
            <tr>
                <td><label for="min_length">Minimum Length:</label></td>
                <td><input type="number" name="min_length" id="min_length" value="8"></td>
            </tr>
            <tr>
                <td><label for="min_numbers">Minimum Numbers:</label></td>
                <td><input type="number" name="min_numbers" id="min_numbers" value="2"></td>
            </tr>
            <tr>
                <td><label for="min_special_chars">Minimum Special Characters:</label></td>
                <td><input type="number" name="min_special_chars" id="min_special_chars" value="2"></td>
            </tr>
            <tr>
                <td><label for="special_chars">Special Characters:</label></td>
                <td id="special_chars_container">
                                       <table>
                        <tr>
                            <td><input type="checkbox" name="special_chars" id="special_chars1" value="!" checked>!</td>
                            <td><input type="checkbox" name="special_chars" id="special_chars2" value="@" checked>@</td>
                            <td><input type="checkbox" name="special_chars" id="special_chars3" value="#" checked>#</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="special_chars" id="special_chars4" value="$" checked>$</td>
                            <td><input type="checkbox" name="special_chars" id="special_chars5" value="%" checked>%</td>
                            <td><input type="checkbox" name="special_chars" id="special_chars6" value="^" checked>^</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="special_chars" id="special_chars7" value="&" checked>&</td>
                            <td><input type="checkbox" name="special_chars" id="special_chars8" value="*" checked>*</td>
                            <td><input type="checkbox" name="special_chars" id="special_chars9" value="$" checked>$</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="special_chars" id="special_chars10" value="?" checked>?</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;">
                    <button type="submit" id="generate_button">Generate Password</button>
                    <form action="/copy" method="POST" style="display: inline;">
                        <input type="hidden" name="password" value="{{ encrypted_password }}">

                    </form>
                </td>
            </tr>
        </table>
    </form>
    <!-- Generated password field -->
    <p id="password_field">Generated Password: {{ encrypted_password }}</p>

    <!-- NOT WORKING CORECTLY -->
    <button type="button" id="copy_button" style="display: none;">Copy to Clipboard</button>



    <script>
        document.getElementById('options').addEventListener('change', function() {
            var button = document.getElementById('generate_button');
            var select = document.getElementById('options');
            if (select.value === 'Password') {
                button.textContent = 'Regenerate Password';
            } else {
                button.textContent = 'Regenerate Username';
            }
        });
          // Copy password to clipboard
        document.getElementById('copy_button').addEventListener('click', function() {
            var passwordField = document.getElementById('password_field');
            var password = passwordField.textContent.replace('Generated Password: ', '');
            navigator.clipboard.writeText(password)
                .then(function() {
                    alert('Password copied to clipboard: ' + password);
                })
                .catch(function() {
                    alert('Unable to copy password to clipboard.');
                });
        });
    </script>

{% endblock %}