{% extends 'base.html' %}
{% block title %}Password Generator{% endblock %}

{% block content %}
<h2>Password Generator</h2>

<form id="password_form" action="/generate_password" method="POST">


    <table>
    <tr>
        <td><label for="options">Generate:</label></td>
        <td>
            <select name="options" id="options">
                <option value="Password">Password</option>
                <option value="Username">Username</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="password_type">Password Type:</label></td>
        <td>
            <select name="password_type" id="password_type">
                <option value="AlphaNumeric">Alphanumeric</option>
                <option value="Alphabetic">Alphabetic</option>
                <option value="Numeric">Numeric</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="total_length">Total Length:</label></td>
        <td><input type="number" name="total_length" id="total_length" value="15"></td>
    </tr>
    <tr>
        <td><label for="min_length">Minimum Length:</label></td>
        <td><input type="number" name="min_length" id="min_length" value="10"></td>
    </tr>
    <tr>
        <td><label for="min_numbers">Minimum Numbers:</label></td>
        <td><input type="number" name="min_numbers" id="min_numbers" value="0"></td>
    </tr>
    <tr>
        <td><label for="min_special_chars">Minimum Special Characters:</label></td>
        <td><input type="number" name="min_special_chars" id="min_special_chars" value="0"></td>
    </tr>
    <tr>
        <td><label for="special_chars">Special Characters:</label></td>
        <td>
           <table>
    <tr>
        <td><input type="checkbox" name="special_chars" id="special_chars1" value="!"> !</td>
        <td><input type="checkbox" name="special_chars" id="special_chars2" value="@"> @</td>
        <td><input type="checkbox" name="special_chars" id="special_chars3" value="#"> #</td>
        <td><input type="checkbox" name="special_chars" id="special_chars4" value="$"> $</td>
        <td><input type="checkbox" name="special_chars" id="special_chars5" value="%"> %</td>
    </tr>
    <tr>
        <td><input type="checkbox" name="special_chars" id="special_chars6" value="^"> ^</td>
        <td><input type="checkbox" name="special_chars" id="special_chars7" value="&"> &</td>
        <td><input type="checkbox" name="special_chars" id="special_chars8" value="*"> *</td>
        <td><input type="checkbox" name="special_chars" id="special_chars9" value="$"> $</td>
        <td><input type="checkbox" name="special_chars" id="special_chars10" value="?"> ?</td>
    </tr>
</table>


            </table>
        </td>
    </tr>
</table>



    <button type="submit" id="generate_button">Generate Password</button>
</form>

<p id="password_field">Generated Password: {{ encrypted_password }}</p>

<!-- Copy password to clipboard -->
<button type="button" id="copy_button">Copy to Clipboard</button>

<script>
    document.getElementById('password_form').addEventListener('submit', function(event) {
        var totalLength = parseInt(document.getElementById('total_length').value);
        var minLength = parseInt(document.getElementById('min_length').value);
        var minNumbers = parseInt(document.getElementById('min_numbers').value);
        var minSpecialChars = parseInt(document.getElementById('min_special_chars').value);

        if (minLength > totalLength) {
            alert('Minimum length cannot be greater than total length.');
            event.preventDefault();
        } else if (minNumbers >= totalLength) {
            alert('Minimum numbers must be less than total length.');
            event.preventDefault();
        }
    });
</script>
{% endblock %}
