{% extends 'base.html' %}
{% block title %}Password Generator{% endblock %}

{% block content %}

<h2>Password Generator</h2>
{% include 'password-widget.html' %}

<!-- Copy password to clipboard -->
<button class="btn btn-primary" type="button" id="copy_button">Copy to Clipboard</button>

<script>
    document.getElementById('password_form').addEventListener('submit', function(event) {
        var totalLength = parseInt(document.getElementById('total_length').value);
        var minLength = parseInt(document.getElementById('min_length').value);
        var minNumbers = parseInt(document.getElementById('min_numbers').value);
        var minSpecialChars = parseInt(document.getElementById('min_special_chars').value);

        if (minLength > totalLength) {
            alert('Minimum length cannot be greater than total length.');
            event.preventDefault();
        } else if (minNumbers >= totalLength) {
            alert('Minimum numbers must be less than total length.');
            event.preventDefault();
        }
    });
</script>
{% endblock %}
