{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="container text-center">  {# Add container and text-center classes for center alignment #}

    {% if user_info %}

    <h1>Welcome {{ user_info[2] }}</h1>
    <ul class="list-inline">  {# Use list-inline for horizontal list #}
        <li class="mb-2">  {# Add mb-2 class for margin bottom between buttons #}
            <a href="/vault" class="btn btn-primary">Vault</a>
        </li>
        <li class="mb-2">  {# Add mb-2 class for margin bottom between buttons #}
            <a href="{{ url_for('settings.settings') }}" class="btn btn-primary">Settings</a>
        </li>
    </ul>

    <p>Email: {{ user_info[1] }}</p>
    <p>Name: {{ user_info[2] }}</p>
    <p>Hint: {{ user_info[4] }}</p>

    {% else %}
    <p>No user information available.</p>
    {% endif %}

</div>
{% endblock %}
