{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div>

    {% if user_info %}
    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">
            <div class="box text-center mt-5">

              <h2>Welcome {{ user_info[2] }}</h2>
              <div class="mt-3 mb-3">
                <a href="{{ url_for('vault.vault') }}" class="btn btn-primary">Vault</a>
                <a href="{{ url_for('settings.settings') }}" class="btn btn-secondary">Settings</a>
                
              </div>
              <p>Email: <strong>{{ user_info[1] }}</strong></p>
              <p>Name: <strong>{{ user_info[2] }}</strong></p>
              <p>Password Hint: <strong>{{ user_info[4] }}</strong></p>
            </div>
          </div>
        </div>
      </div>

    {% else %}
    <p>No user information available.</p>
    {% endif %}

</div>
{% endblock %}

