{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
</head>
<body>
<div>

    {% if user_info %}

    <h1>Welcome {{ user_info[2] }}</h1>
    <ul>
           <li><a href="/vault">Vault</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>



    <p>Email: {{ user_info[1] }}</p>
    <p>Name: {{ user_info[2] }}</p>
    <p>Hint: {{ user_info[4] }}</p>
    <!-- Add more user info fields as needed -->
    {% else %}
    <p>No user information available.</p>
    {% endif %}

</div>
</body>
</html>
