{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}
    <h1>Create Account</h1>
    <form action="/auth/register" method="post">
        <table>
            {% for message in messages %}
            <p class="{{ message_type }}">{{ message }}</p>
        {% endfor %}
        <br>
            <tr>
                <td><label for="email_address">Email Address:</label></td>
                <td><input type="email" id="email_address" name="email_address" ></td>
            </tr>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input type="text" id="name" name="name" required></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password" required></td>
            </tr>
            <tr>
                <td><label for="retype_password">Confirm Password:</label></td>
                <td><input type="password" id="retype_password" name="retype_password" required></td>
            </tr>
            <tr>
                <td><label for="hint">Password Hint:</label></td>
                <td><input type="text" id="hint" name="hint"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Create Account</button></td>
            </tr>
            <div class="recaptcha-container">
            <div class="g-recaptcha" data-sitekey="6LclpwIlAAAAAJJGxZAVGD3a6emxmCccHn5rb_ZB"></div>
        </div>
        </table>
    </form>
{% endblock %}
</html>
