{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<script src="/MyJavaScript.js" defer></script>
<h1>User Preferences</h1>
<form id="preferencesForm" method="POST">
    <p>
        <label for="vaultTimeout">Vault Timeout:</label>
        <select id="vaultTimeout" name="vaultTimeout">
            <option value="5">5 minutes</option>
            <option value="10">10 minutes</option>
            <option value="15">15 minutes</option>
        </select>
    </p>
    <p>
        <label for="themeId">Theme:</label>
        <select id="themeId" name="themeId">
            <option value="dark">Dark</option>
            <option value="light">Light</option>
        </select>
    </p>

    <p>
        <button type="submit">Save Preferences</button>
    </p>
    <p>
        <button type="button" id="changePasswordBtn">Change Password</button>
    </p>
    <p>
        <button type="button" id="deleteAccountBtn">Delete Account</button>
    </p>
</form>

<p><a href="{{ url_for('settings.change_password') }}">Change Password</a></p>
<p><a href="{{ url_for('settings.delete_account') }}">Delete Account</a></p>


{% endblock %}
