{% extends 'base.html' %}
{% block title %}Vault{% endblock %}

{% block content %}
    <h2>Vault</h2>
    <div class="left-pane">
        <h3>Folders</h3>
        <ul>
            {% for folder in folders %}
                <li><a href="{{ url_for('vault.view_folder', folder_name=folder[0]) }}">{{ folder[0] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('vault.new_item') }}">Create New Item</a>
    <a href="{{ url_for('vault.new_folder') }}">Create New Folder</a>
    <a href="{{ url_for('vault.profile') }}">Back</a>
{% endblock %}
