{% extends 'base.html' %}

{% block title %}Vault: Items Table{% endblock %}

{% block content %}
<h1>Vault: Items Table</h1>

<div class="mb-3">
    <a href="{{ url_for('vault.new_item') }}" class="btn btn-success">Create New Item</a>
    <a href="{{ url_for('vault.new_folder') }}" class="btn btn-info">Create New Folder</a>
    <a href="{{ url_for('vault.password_generator') }}" class="btn btn-warning">Generate Password</a>
</div>

<style>
    .button-container button {
        width: 100%; /* Set equal width for all buttons */
    }
</style>

<div class="left-pane">
    <h3>Folders</h3>

    <form action="{{ url_for('vault.select_folder') }}" method="post">
        <label for="folder">Choose a category:</label>
        <select name="folder" id="folder">
        {% for folder in folders %}
            
                    <option value="{{ folder[0] }}" >{{folder[0]}}</option>
        {% endfor %}
        </select>
        <button type="submit">View Folder</button>
    </form>
</div>
{% include 'item-table.html' %}

{% endblock %}
